*

!btop/
!fish/
!fontconfig/
!hypr/
!hypr-dock/
!kitty/
!nano/
!qt6ct/
!rofi/
!wallpapers/
!waybar/
!wlogout/

!btop/**
!fish/**
!fontconfig/**
!hypr/**
!hypr-dock/**
!kitty/**
!nano/**
!qt6ct/**
!rofi/**
!wallpapers/**
!waybar/**
!wlogout/**

!dolphinrc

!.gitignore
