*

!btop/
!dunst/
!fish/
!fontconfig/
!hypr/
!hypr-dock/
!kitty/
!nano/
!qt6ct/
!rofi/
!wallpapers/
!waybar/
!wlogout/
!zed/

!btop/**
!dunst/**
!fish/**
!fontconfig/**
!hypr/**
!hypr-dock/**
!kitty/**
!nano/**
!qt6ct/**
!rofi/**
!wallpapers/**
!waybar/**
!wlogout/**
!zed/**

!dolphinrc
!pavucontrol.toml
!starship.toml
!README.md

!.gitignore
